<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="plates" description="iqr plates">
  <xacro:macro name="plates" params="parent *origin">
  <xacro:property name="prefix" value="plates" />
    <joint name="${prefix}_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_base"/>
    </joint>
    <link name="${prefix}_base">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iqr_ur_description/urdf/mesh/plates.stl" />
        </geometry>
        <material name="">
          <color rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
    </link>

    <link name="${prefix}_ur_base">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iqr_ur_description/urdf/mesh/ur_base.stl" />
        </geometry>
        <material name="">
          <color rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
    </link>
    <joint name="${prefix}_ur_base_joint" type="fixed">
      <origin xyz="0.17501 0 0.422" rpy="0 0 0" />
      <parent link="${prefix}_base"/>
      <child link="${prefix}_ur_base"/>
    </joint>

    <link name="${prefix}_ur_surface"/>
    <joint name="${prefix}_ur_surface_joint" type="fixed">
      <origin xyz="0 0 0.015" rpy="0 0 0" />
      <parent link="${prefix}_ur_base"/>
      <child link="${prefix}_ur_surface"/>
    </joint>

  </xacro:macro>  
</robot>
