<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotiq_gripper_base" description="iqr robotiq_gripper_base">
  <xacro:macro name="robotiq_gripper_base" params="parent *origin">
  <xacro:property name="prefix" value="robotiq_gripper_base" />
    <joint name="${prefix}_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_base"/>
    </joint>
    <link name="${prefix}_base">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iqr_ur_description/urdf/mesh/robotiq_gripper_base.stl" />
        </geometry>
        <material name="">
          <color rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
    </link>
    <link name="${prefix}_surface"/>
    <joint name="${prefix}_surface_joint" type="fixed">
      <origin xyz="0.008 0 0" rpy="0 0 0" />
      <parent link="${prefix}_base"/>
      <child link="${prefix}_surface"/>
    </joint>
  </xacro:macro>  
</robot>
